header{
    background-color: aqua;
    padding: 0 250px 50px 250px;
}
.wrapper{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__buttons ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__buttons ul a li{
    margin: 0 30px;
    padding: 8px 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.main__buttons ul a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
    transition: 300ms;
}
.main__buttons ul a:hover{
    background-color: #fff;
    border-radius: 30px;
}
.menu__button{
    display: none;
    background: #fff;
	padding: 10px;
	border-radius: 30px;
	cursor: pointer;
}
.menu__button span{
    display: block;
	width: 25px;
	height: 4px;
	background-color: #444;
	margin: 4px 0;
}
.logo__button{
    text-decoration: none;
    cursor: pointer;
}
.logo__button h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 21px;
    color: #000;
}
.wrapper input{
    background-color: #fff;
    border: 0;
    padding: 12px 20px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 25px;
    color: #000;
    transition: 300ms;
}
.wrapper input:hover{
    background-color: #eee;
    color: #222;
    transition: 300ms;
}
.subtitles p{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #474747;
}
.subtitles h3{
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    color: #2D2D2D;
}
.find__work{
    margin-top: 50px;
    padding: 20px 20px;
    border-radius: 50px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.find__work form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.find__work form select{
    text-align: center;
    border: 0;
    background-color: #ccc;
    padding: 20px 20px;
    border-radius: 30px;
    appearance: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.text-input{
    width: 100%;
    margin: 0 80px;
    background-color: #ccc;
    border: 0;
    padding: 20px 30px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.submit{
    text-align: center;
    border: 0;
    background-color: orange;
    padding: 16px 30px;
    border-radius: 30px;
    appearance: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 7px;
    font-size: 20px;
}
.numbers{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.numbers__info{
    border-left: 3px solid #fff;
}
.numbers__info h3 {
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 56px;
    color: #2D2D2D;
    margin-left: 30px;
    margin-top: -40px;
}
.numbers__info p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #474747;
    margin-left: 30px;
}
section{
    padding: 50px 250px 50px 250px;
    text-align: center;
}
.main__section{
    text-align: center;
}
.main__section h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
}
.news__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news__section img{
    margin-top: 50px;
    width: 95%;
}
.news__item h2{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
}
.news__item p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}
.news__item button{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 50px;
    border: 1px solid orange;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 10px;
    transition: 150ms;
}
.news__item button:hover{
    background-color: orange;
    color: white;
    transition: 150ms;
}
.main__section-2 h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.buttons button{
    width: calc(25% - 20px);
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding: 30px 0;
    border: 0;
    background-color: rgba(255, 165, 0, 0.8);
    border-radius: 50px;
    transition: 300ms;
}
.buttons button:hover{
    background-color: orange;
    transition: 300ms;
}