@media screen and (min-width: 300px) and (max-width: 599px) {
    header{
        padding: 0 0 50px 0;
    }
    section{
        padding: 50px 0 50px 0;
        text-align: center;
    }
    .logo__button h3 {
        font-size: 22px;
        line-height: 20px;
        color: #000;
    }
    .wrapper{
        padding: 20px 20px;
    }
    .wrapper input{
        font-size: 22px;
    }
    .main__buttons{
        display: none;
    }
    .menu__button{
        display: block;
        position: absolute;
        left: calc(50% - 22.5px);
    }
    .numbers{
        display: none;
    }
    .subtitles h3{
        font-size: 32px;
        line-height: 30px;
        text-align: center;
    }
    .subtitles p{
        font-size: 16px;
        text-align: center;
    }
    .find__work form{
        flex-direction: column;
    }
    .work__input select{
        margin: 10px 0;
        width: 60%;
    }
    .work__input input{
        margin: 10px 0;
        width: 60%;
    }
    .find__work form select{
        font-weight: 600;
        font-size: 18px;
    }
    .news__section{
        flex-direction: column;
    }
    .buttons{
        flex-direction: column;
    }
    .buttons form{
        width: calc(90% - 20px);
        margin-bottom: 20px;
    }
    .news__item{
        width: 90%;
    }
    .news__item img{
        width: 280px;
    }
    .nabidky__list{
        padding: 0 40px;
    }
    .nabidky__list div, .nabidky__list button{
        margin: 0 auto;
        margin-bottom: 30px;
        width: calc(80%);
    }
    .vyber{
        flex-direction: column;
    }
    .zobrazit{
        margin-right: 10px;
    }
    .call-center{
        margin: 50px 30px 0 20px;
        flex-direction: column;
    }
    .call-center > div{
        width: 100%;
        padding: 30px 0;
    }
    .left-side{
        border-bottom: 2px solid orange;
        flex-direction: column;
    }
    .left-side div img{
        width: 100px;
    }
    .left-side div:last-child{
        margin-top: 40px;
        width: 90%;
    }
    .right-side{
        border-left: 0;
    }
    .right-side div{
        flex-direction: column;
    }
    .dotazy{
        margin: 50px 50px 0 50px;
    }
    .dotazy div{
        flex-direction: column;
        padding: 20px 20px
    }
    .dotazy div button{
        margin-top: 10px;
    }
    .left-side div h3{
        margin-top: 10px;
        font-size: 12px;
    }
    .main__section-2{
        margin-top: 80px;
    }
    .main__buttons.active{
        margin-left: -20px;
    }
    .main__buttons.active div{
        flex-direction: column;
        margin-top: -200px;
    }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
    header{
        padding: 0 0 50px 0;
    }
    section{
        padding: 50px 0 50px 0;
        text-align: center;
    }
    .logo__button h3 {
        font-size: 22px;
        line-height: 20px;
        color: #000;
    }
    .wrapper{
        padding: 20px 100px;
    }
    .wrapper input{
        font-size: 22px;
    }
    .main__buttons{
        display: none;
    }
    .menu__button{
        display: block;
        position: absolute;
        left: calc(50% - 22.5px);
    }
    .numbers{
        display: none;
    }
    .subtitles h3{
        font-size: 32px;
        line-height: 30px;
        text-align: center;
    }
    .subtitles p{
        font-size: 16px;
        text-align: center;
    }
    .find__work form{
        flex-direction: column;
    }
    .work__input select{
        margin: 10px 0;
        width: 60%;
    }
    .work__input input{
        margin: 10px 0;
        width: 60%;
    }
    .find__work form select{
        font-weight: 600;
        font-size: 18px;
    }
    .news__section{
        flex-direction: column;
    }
    .buttons{
        flex-direction: column;
    }
    .buttons form{
        width: calc(90% - 20px);
        margin-bottom: 20px;
    }
    .news__item{
        width: 90%;
    }
    .news__item img{
        width: 280px;
    }
    .nabidky__list{
        padding: 0 50px;
    }
    .nabidky__list div, .nabidky__list button{
        width: calc(50% - 42px);
    }

    .main__buttons.active{
        margin-left: -100px;
    }
    .main__buttons.active div a li{
        margin: 40px 0;
    }

    .vyber{
        padding: 0 40px;
    }
    .zobrazit{
        margin-right: 50px;
    }
    .call-center{
        margin: 50px 50px 0 50px;
        flex-direction: column;
    }
    .call-center > div{
        width: 100%;
        padding: 30px 0;
    }
    .left-side{
        border-bottom: 2px solid orange;
    }
    .right-side{
        border-left: 0;
    }
    .dotazy{
        margin: 50px 50px 0 50px;
    }
    .left-side div h3{
        margin-top: 10px;
    }
    .main__section-2{
        margin-top: 80px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1299px) {
    header{
        padding: 0 0 50px 0;
    }
    section{
        padding: 50px 0 50px 0;
        text-align: center;
    }
    .main__buttons.active{
        margin-left: -40px;
    }

    .main__buttons.active div a{
        margin: 30px 0;
    }
    .logo__button h3 {
        font-size: 22px;
        line-height: 20px;
        color: #000;
    }
    .wrapper{
        padding: 20px 40px;
    }
    .wrapper input{
        font-size: 22px;
    }
    .main__buttons div{
        justify-content: space-around;
    }
    .main__buttons div a{
        margin: 0 30px;
        width: calc(35% - 70px);
        text-align: center;
        margin-bottom: 10px;
    }
    .numbers{
        display: none;
    }
    .subtitles h3{
        font-size: 40px;
        line-height: 30px;
        text-align: center;
    }
    .subtitles p{
        font-size: 20px;
        text-align: center;
    }
    .find__work form select{
        padding: 20px 10px;
    }
    .text-input{
        margin: 0 20px;
    }
    .find__work form select{
        font-weight: 600;
        font-size: 18px;
    }
    .news__section{
        padding: 0 50px;
    }
    .news__item{
        width: 50%;
    }
    .buttons{
        flex-direction: column;
    }
    .buttons form{
        width: calc(60% - 20px);
        margin-bottom: 30px;
    }

    .news__item{
        width: 50%;
        margin: 0;
    }
    .news__section img{
        width: 300px;
        height: 150px;
    }
    .nabidky__list{
        padding: 0 50px;
    }
    .nabidky__list div{
        width: calc(33.3% - 42px);
    }
    .nabidky__list button{
        width: calc(50% - 42px);
        padding: 30px  0;
    }
    .vyber{
        padding: 0 50px;
    }
    .zobrazit{
        margin-right: 50px;
    }
    .call-center{
        margin: 50px 50px 0 50px;
    }
    .dotazy{
        margin: 50px 100px 0 100px;
    }
    .left-side div h3{
        margin-top: 10px;
    }
    .left-side div:first-child{
        width: 30%;
    }
    .left-side div:last-child{
        width: 70%;
        height: 190px;
    }
    .left-side div img{
        width: 130px;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1499px) {
    header{
        padding: 0 100px 50px 100px;
    }
    section{
        padding: 50px 0 50px 0;
        text-align: center;
    }
    .logo__button h3 {
        font-size: 22px;
        line-height: 20px;
        color: #000;
    }
    .wrapper{
        padding: 20px 20px;
    }
    .wrapper input{
        font-size: 22px;
    }
    .subtitles h3{
        font-size: 40px;
        line-height: 30px;
        text-align: center;
    }
    .subtitles p{
        font-size: 20px;
        text-align: center;
    }
    .find__work form select{
        padding: 20px 10px;
    }
    .text-input{
        margin: 0 20px;
    }
    .find__work form select{
        font-weight: 600;
        font-size: 18px;
    }
    .news__section{
        padding: 0 20px;
    }
    .news__item{
        width: 25%;
        margin: 0;
    }
    .news__section img{
        width: 300px;
        height: 150px;
    }
    .vyber{
        padding: 0 100px;
    }
    .zobrazit{
        margin-right: 50px;
    }
    .call-center{
        margin: 50px 100px 0 100px;
    }
    .dotazy{
        margin: 50px 100px 0 100px;
    }
    .main__buttons.active{
        margin-left: -120px;
    }
}
