@media screen and (min-width: 200px) and (max-width: 699px) {
    header{
        height: 100vh;
    }
    .wrapper{
        padding: 0 0;
        justify-content: space-around;
    }
    .menu__button{
        display: block;
    }
    .logo__button h3{
        font-size: 24px;
    }
    .login h3{
        font-size: 20px;
    }
    .main__buttons{
        display: none;
    }
    .subtitles {
        padding: 100px 0 0 0;
    }
    .subtitles h3{
        font-size: 38px;
        padding-left: 10px;
    }
    .subtitles p{
        font-size: 16px;
        padding-left: 10px;
    }
    .main__section{
        height: 170vh;
    }
    .find__work{
        margin: 0 0;
        margin-top: 50px;
        width: 100%;
        height: 350px;
        padding: 30px 0;
        background-color: rgb(242, 242, 242);
        flex-direction: column;
    }
    .find__work form{
        display: block;
        width: 70%;
    }
    .work__menu{
        background-color: orange;
        margin: 0 0;
        display: block;
        width: 70%;
        text-align: center;
    }
    .work__menu_2{
        margin: 0 0;
        display: block;
        width: 70%;
        text-align: center;
    }
    .find__work a p{
        margin: 0 0;
        text-align: center;
    }
    .find{
        margin: 0 0;
        width: 40%;
    }
    .find p{
        padding: 20px 10px;
    }
    .numbers{
        display: none;
    }
    .work__list-info{
        padding: 0 0;
        flex-direction: column;
    }
    .work__list-info h3{
        padding-bottom: 20px;
    }
    .work__list{
        padding: 0 0;
        flex-direction: column;
    }
    .list__item{
        margin-bottom: 30px;
    }
    .main__section-2{
        height: 190vh;
    }
    .cv__info{
        padding: 0 0;
        flex-direction: column;
    }
    .cv__info h3{
        padding-bottom: 20px;
    }
    .cv__list{
        padding: 0 0;
        flex-direction: column;
    }
    .cv__item{
        margin-bottom: 30px;
    }
    .sluzby__info{
        padding: 0 0;
        flex-direction: column;
    }
    .sluzby__list{
        padding: 0 0;
        flex-direction: column;
    }
    .sluzby__item{
        margin-bottom: 30px;
    }
    .main__section-3{
        height: 155vh;
    }
    .main__section-4 h3:first-child{
        padding: 0 0 ;
        text-align: center;
    }
    .main__section-4{
        height: 165vh;
    }
    .mista__list{
        padding: 0 0;
        flex-direction: column;
    }
    .mista__item{
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 700px) and (max-width: 999px) {
    header{
        height: 800px;
    }
    .wrapper{
        padding: 0 0;
        justify-content: space-around;
    }
    .menu__button{
        display: block;
    }
    .logo__button h3{
        font-size: 24px;
    }
    .login h3{
        font-size: 20px;
    }
    .main__buttons{
        display: none;
    }
    .subtitles {
        padding: 100px 0 0 0;
    }
    .subtitles h3{
        font-size: 38px;
        padding-left: 10px;
    }
    .subtitles p{
        font-size: 16px;
        padding-left: 10px;
    }
    .main__section{
        height: 1400px;
    }
    .find__work{
        margin: 0 0;
        margin-top: 50px;
        width: 100%;
        height: 350px;
        padding: 30px 0;
        background-color: rgb(242, 242, 242);
        flex-direction: column;
    }
    .find__work form{
        display: block;
        width: 70%;
    }
    .work__menu{
        background-color: orange;
        margin: 0 0;
        display: block;
        width: 70%;
        text-align: center;
    }
    .work__menu_2{
        margin: 0 0;
        display: block;
        width: 70%;
        text-align: center;
    }
    .find__work a p{
        margin: 0 0;
        text-align: center;
    }
    .find{
        margin: 0 0;
        width: 40%;
    }
    .find p{
        padding: 20px 10px;
    }
    .numbers{
        display: none;
    }
    .work__list-info{
        padding: 0 0;
        flex-direction: column;
    }
    .work__list-info h3{
        padding-bottom: 20px;
    }
    .work__list{
        padding: 0 0;
        flex-direction: column;
    }
    .list__item{
        margin-bottom: 30px;
    }
    .main__section-2{
        height: 900px;
    }
    .cv__info{
        padding: 0 0;
        flex-direction: column;
    }
    .cv__info h3{
        padding-bottom: 20px;
    }
    .cv__list{
        padding: 0 80px;
    }
    .cv__item{
        margin-bottom: 30px;
    }
    .sluzby__info{
        padding: 0 0;
        flex-direction: column;
    }
    .sluzby__list{
        padding: 0 65px;
    }
    .sluzby__item{
        margin-bottom: 30px;
    }
    .main__section-3{
        height: 750px;
    }
    .main__section-4 h3:first-child{
        padding: 0 0 ;
        text-align: center;
    }
    .main__section-4{
        height: 750px;
    }
    .mista__list{
        padding: 0 65px;
    }
    .mista__item{
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1341px) {
    header{
        height: 650px;
    }
    .main__section{
        height: 1000px;
    }
    .find__work{
        margin: 0 100px;
        margin-top: 50px;
    }
    .numbers{
        display: flex;
        padding: 0 20px;
    }
    .work__list-info{
        padding: 0 0;
        flex-direction: column;
    }
    .work__list-info h3{
        padding-bottom: 20px;
    }
    .work__list{
        padding: 0 150px;
    }
    .list__item{
        margin-bottom: 30px;
    }
    .main__section-2{
        height: 900px;
    }
    .cv__info{
        padding: 0 0;
        flex-direction: column;
    }
    .cv__info h3{
        padding-bottom: 20px;
    }
    .cv__list{
        padding: 0 220px;
    }
    .cv__item{
        margin-bottom: 30px;
    }
    .sluzby__info{
        padding: 0 0;
        flex-direction: column;
    }
    .sluzby__list{
        padding: 0 200px;
    }
    .sluzby__item{
        margin-bottom: 30px;
    }
    .main__section-3{
        height: 750px;
    }
    .main__section-4 h3:first-child{
        padding: 0 0 ;
        text-align: center;
    }
    .main__section-4{
        height: 700px;
    }
    .mista__list{
        padding: 0 200px;
    }
    .mista__item{
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 1342px) and (max-width: 1500px){
    header{
        height: 650px;
    }
    .main__section{
        height: 600px;
    }
    .find__work{
        margin: 0 100px;
        margin-top: 50px;
    }
    .numbers{
        display: flex;
        padding: 0 20px;
    }
    .work__list-info{
        padding: 0 0;
        flex-direction: column;
    }
    .work__list-info h3{
        padding-bottom: 20px;
    }
    .work__list{
        padding: 0 150px;
    }
    .list__item{
        margin-bottom: 30px;
    }
    .main__section-2{
        height: 850px;
    }
    .cv__info{
        padding: 0 0;
        flex-direction: column;
    }
    .cv__info h3{
        padding-bottom: 20px;
    }
    .cv__list{
        padding: 0 220px;
    }
    .cv__item{
        margin-bottom: 30px;
    }
    .sluzby__info{
        padding: 0 0;
        flex-direction: column;
    }
    .sluzby__list{
        padding: 0 200px;
    }
    .sluzby__item{
        margin-bottom: 30px;
    }
    .main__section-3{
        height: 750px;
    }
    .main__section-4 h3:first-child{
        padding: 0 0 ;
        text-align: center;
    }
    .main__section-4{
        height: 700px;
    }
    .mista__list{
        padding: 0 200px;
    }
    .mista__item{
        margin-bottom: 30px;
    }
}
