
header{
    height: 650px;
    background-color: aqua;
}
.wrapper{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding: 0 200px;
}
.logo__button{
    text-decoration: none;
    cursor: pointer;
}
.logo__button h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 21px;
    color: #000;
}
.menu__button{
    display: none;
    background: #fff;
	padding: 10px;
	border-radius: 30px;
	cursor: pointer;
}
.menu__button span{
    display: block;
	width: 25px;
	height: 4px;
	background-color: #444;
	margin: 4px 0;
}
.main__buttons{
    width: 50%;
}
.main__buttons ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.main__buttons ul li{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 5px 5px;
}
.main__buttons ul a:hover{
    background-color: #fff;
    border-radius: 30px;
}
.main__buttons ul li a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
    transition: 300ms;
}
.main__buttons ul li a:hover{
    text-decoration: none;
    cursor: pointer;
    color: orange;
    transition: 300ms;
}
.login{
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 30px;
}
.login{
    text-decoration: none;
    cursor: pointer;
    transition: 500ms ease;
}
.login h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 25px;
    color: #000;
}
.login:hover{
    background-color: #ddd;
}
.subtitles{
    padding: 100px 0 0 200px;
}
.subtitles p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #474747;
}
.subtitles h3{
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    color: #2D2D2D;
}
.find__work{
    height: 100px;
    border-radius: 50px;
    background-color: #fff;
    margin: 100px 200px 0 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.work__menu {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    margin-left: 20px;
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
    width: 20%;
    padding: 20px 0;
}
.work__menu_2{
    text-decoration: none;
    cursor: pointer;
    color: #000;
    margin-left: 20px;
    background-color: #ccc;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
    width: 20%;
    padding: 20px 0;
}
.find__work a p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin-left: 20px;
}
.find__work form{
    text-decoration: none;
    cursor: pointer;
    width: 50%;
    background-color: #ccc;
    padding: 20px 20px;
    border-radius: 30px;
}
.find__work form input{
    border: 0;
    width: 90%;
    background-color: #ccc;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #474747;
}
.find{
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    margin-left: -20px;
    
}
.find p{
    background-color: orange;
    padding: 20px 50px;
    border-radius: 30px;
}
.numbers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
.numbers span{
    margin-right: -50px;
    margin-top: 40px;
    display: block;
    height: 65px;
    background-color: #fff;
    width: 2px;
}
.numbers__info h3{
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 56px;
    color: #2D2D2D;
}
.numbers__info p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #474747;
}

/* NEW SECTION */

.main__section{
    height: 550px;
}
.work__list-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    margin-top: 40px;
}
.work__list-info h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
}
.work__list-info a{
    background-color: orange;
    padding: 12px 12px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: black;
    opacity: 0.8;
    transition: 300ms;
}
.work__list-info a:hover{
    opacity: 1;
    transition: 300ms;
}
.work__list{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
.list__item{
    padding: 25px 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.list__item span{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -25px;
    padding-right: 50px;
    width: 100%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.2);
}
.list__item h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom:30px;
}
.list__item h2{
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size:18px;
    line-height: 20px;
    color: orange;
}
.list__item p{
    color: black;
    margin-bottom: 7px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.list__item p:first-child{
    font-size: 18px;
    margin-top: 30px;
}
.list__item p:not(:first-child){
    padding-bottom: 20px;
}
.list__item-footer a{
    text-decoration: none;
    text-align: center;
    align-items: center;
    border-radius: 30px;
}
.list__item-footer a p{
    display: block;
    background-color: orange;
    padding: 12px 0;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    transition: 300ms;
}
.list__item-footer a:hover p{
    color: #fff;
    transition: 300ms;
}

/* NEW SECTION */

.main__section-2{
    height: 500px;
}
.cv__info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 200px;
    justify-content: space-between;
}
.cv__info h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
}
.cv__info a{
    background-color: orange;
    padding: 12px 12px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: black;
    opacity: 0.8;
    transition: 300ms;
}
.cv__info a:hover{
    opacity: 1;
    transition: 300ms;
}
.cv__list{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
.cv__item{
    padding: 25px 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.cv__item img{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}
.cv__item p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.6;
    padding-bottom: 10px;
}
.cv__item h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 10px;
}
.cv__item h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 10px;
    color: orange;
}
.cv__item-footer a{
    margin-top: 20px;
    display: block;
    text-decoration: none;
    border: 1px solid orange;
    border-radius: 30px;
    transition: 300ms;
}
.cv__item-footer a p{
    text-align: center;
    color: orange;
    opacity: 1;
    padding: 10px 10px;
    transition: 300ms;
}
.cv__item-footer a:hover{
    background-color: orange;
    transition: 300ms;
}
.cv__item-footer a:hover p{
    color: #fff;
    transition: 300ms;
}
/* NEW SECTION */

.main__section-3{
    height: 650px;
}
.sluzby__info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
.sluzby__info h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
}
.sluzby__button{
    background-color: #eee;
    padding: 25px 15px;
    border-radius: 35px;

}
.sluzby__info a:first-child{
    background-color: orange;
}
.sluzby__info a{
    padding: 12px 12px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: black;
}
.sluzby__item img{
    background-color: rgba(255, 165, 0, 0.5);
    border-radius: 40px;
    padding: 20px 20px;
    height: 35px;
    width: 35px;
}
.sluzby__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    margin-top: 60px;
}
.sluzby__item{
    width: 230px;
    padding: 25px 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 20px;
}
.sluzby__item{
    text-decoration: none;
    color: #000;
}
.sluzby__item h3{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 10px;
}
.sluzby__item h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.6;
    padding-bottom: 10px;
}
.sluzby__item:hover h3{
    color: orange;
}

/* NEW SECTION */

.main__section-4{
    height: 700px;
}
.main__section-4 h3:first-child{
    padding: 0 200px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
}
.mista__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0  200px;
    margin-top: 60px;
}
.mista__item{
    width: 230px;
    padding: 25px 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 20px;
}
.mista__item img{
    width: 50px;
    height: 50px;
}
.mista__item h3{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 20px;
}
.mista__item p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.6;
    padding-bottom: 10px;
}
.mista__item-footer a{
    margin-top: 20px;
    display: block;
    text-decoration: none;
    border: 1px solid orange;
    border-radius: 30px;
    transition: 300ms;
}
.mista__item-footer a p{
    text-align: center;
    color: orange;
    opacity: 1;
    padding: 10px 10px;
    font-weight: 900;
    transition: 300ms;
}
.mista__item-footer a:hover{
    background-color: orange;
    transition: 300ms;
}
.mista__item-footer a:hover p{
    color: #fff;
    transition: 300ms;
}
.menu__button.active{
    position: fixed;
    z-index: 1;
    background-color: #444;
}
.menu__button.active span{
    background-color: #fff;
}
.main__buttons.active{
    padding-top: 100px;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-top: 100vh;
    background-color: rgba(255, 255,255, 1);
    justify-content: space-around;
    flex-direction: column;
}
.main__buttons.active ul{
    flex-direction: column;
    margin-top: -150px;
    height: 60%;
}
.main__buttons.active ul li{
    text-align: center;
    padding: 15px 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    color: #fff;
}
body.active{
    overflow: hidden;
}
.main__buttons ul a{
    text-decoration: none;
    color: #000;
}
.footer{
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.2);
}

#news{
    text-align: center;
    margin-top: 50px;
}

.news__section{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.news__item{
    border-right: 0.5px grey solid;
    width: 347px;
    height: 357px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

